:root{
    --fs-xl: clamp(0.9em, 7vw, 2.5rem);
    --fs-normal: clamp(0.1em, 3.25vh, 2.5rem);

    --map-size: clamp(90px, 20vw, 225px);
    --button-width: clamp(5em, 20vw, 10rem);

    --cats-size: clamp(125px, 20vw, 350px);

    --listdata-width: clamp(40%, 50%, 100%);
    --textbox-width: 60vw;
}

@media (max-width: 500px){
    :root{
        --map-size: 25vw;
        --listdata-width: 50vw;
        --fs-normal: clamp(0.1em, 2.25vh, 2.5rem);
        --textbox-width: 70vw;
    }
}


@media (min-width: 500px){
    :root{
        --map-size: clamp(120px,23vw,200px);
        --listdata-width: clamp(50%, 60% - 30px , 70% - 33px);
    }
    #flex-box1{
        justify-content: space-evenly;
        align-items: center;
    }
}



body{
    background-color: #89D9BB;
    padding-bottom: 5vw;
}

.middleTextBox {
    margin: auto;
    text-align: center;
    width: var(--textbox-width);
    border: 0.75vw dotted #F22727;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    background-color: #F257BC;
    border-radius: 1.5vw;
}

.insideText{
    font-family: 'Caveat', cursive;
    font-size: var(--fs-normal);
}

.headText{
    font-family: 'Lobster', sans-serif;
    font-size: var(--fs-xl);
    margin-bottom: 20pt;
}

#flex-box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#list-data{
    text-align: left;
    margin: 10pt;
    min-width: 19%;
    max-width: var(--listdata-width);
}

#map-container{
    width: 20vw;
    min-width: 39%;
}

#message{
    font-size: var(--fs-normal);
}

.circle-text, #googleMap {
    width: var(--map-size);
    height: var(--map-size);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 0.75vw #F22727 solid;
    background: #D9326F;
}

.jumping-cat{
    height: 0%;
    width: 0%;
    margin: 2.5vw;
}

.jumping-cat:hover{
    transform: scaleY(-1);
    border: none;
}

.sad-cat{
    height: 0%;
    width: 0%;
    margin: 2.5vw;
}

.sad-cat:hover{
    transform: scaleX(-1);
}

.no-button{
    font-family: 'Lobster', sans-serif;
    display: inline-block;
    font-size: var(--fs-normal);
    padding: 1vw;
    -webkit-appearance: none;
    appearance: none;
    background-color: #D9326F;
    color: #8FD9B6;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 0.25vw 3vw rgba(255, 0, 130, 0.5);
    margin: 1vw;
    width: var(--button-width);
}

.confetti-button{
    font-family: 'Lobster', sans-serif;
    display: inline-block;
    font-size: var(--fs-normal);
    padding: 1vw;
    -webkit-appearance: none;
    appearance: none;
    background-color: #D9326F;
    color: #8FD9B6;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 0.25vw 3vw rgba(255, 0, 130, 0.5);
    margin: 1vw;
    width: var(--button-width);
}
  
.confetti-button:focus { outline: 0; }
  
.confetti-button:before, .confetti-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
  
.confetti-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, transparent 20%, #8FD9B6 20%, transparent 30%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, transparent 10%, #8FD9B6 15%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
  
.confetti-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, transparent 10%, #8FD9B6 15%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%), radial-gradient(circle, #8FD9B6 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
  
.confetti-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {  
    0% {background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;}
    50% {background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {  
    0% { background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;}
    50% { background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
